@font-face { font-family: 'Vcr'; src: url('./fonts/VCR_OSD_MONO.ttf');}
@font-face { font-family: 'Fipps'; src: url('./fonts/Fipps-Regular.otf');}
@font-face { font-family: '8-bit'; src: url('./fonts/8-bit_Arcade_In.ttf');}
@font-face { font-family: '8-bit-out'; src: url('./fonts/8-bit_Arcade_Out.ttf');}
@font-face { font-family: '3Dventure'; src: url('./fonts/3Dventure.ttf');}

:root{
    --clr-active: #14ff33;
    --clr-green: rgb(20, 255, 51);
    --clr-not-active: rgb(255 20 189);
    --clr-pink: rgb(255 20 189);
    --clr-red: rgb(255, 20, 20);
    --clr-bg: rgb(32, 32, 32);
    --clr-blue: #22fcfc;
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: black;
    overflow: hidden;
}

#notStart{
    padding-top: 50px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    display:-webkit-box;
    display:-webkit-flex;
    display:-webkit-flexbox;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#scores{
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid var(--clr-not-active);
    border-radius: 0.25em;
    font-family: 'Vcr';
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#scores h2{
    font-family: "3Dventure";
    text-align: center;
    font-size: 1.5em;
    background-color: var(--clr-not-active);
    color: var(--clr-bg);
}

#scores p{
    font-size: 0.8em;
}


#listScores{
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--clr-not-active);
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.columnScore{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.pseudo{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid var(--clr-not-active);
}

.score{
    padding: 5px;
    border-bottom: 1px solid var(--clr-not-active);
    padding-right: 20px
}

.pseudos{
    padding: 5px;
    text-align: right;
}

.scores{
    padding: 5px;
    text-align: left;
}


#pseudo{
    margin: 20px;
    text-align: center;
    padding: 5px;
    background-color: rgba(32, 32, 32, 0.9);
    border: 0.125em solid var(--clr-active);
    border-radius: 0.25em;
    color: var(--clr-active);
    font-family: 'Vcr';
    font-size: 2em;
}

#pseudo::placeholder {
    color: var(--clr-active);
    font-family: 'Vcr';
}

#pseudo:focus{
    box-shadow: 0 0 0.5em 0.1em var(--clr-active);
    outline: none;
}

.end{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 32, 32, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.end .msgScore {
    text-align: center;
    font-family: 'Vcr';
    color: white;
    font-size: 3em;
    animation: anime_end_text 1s 0s ease-in-out infinite;
	-webkit-animation: anime_end_text 1s 0s ease-in-out infinite;
}

#notStart .regle{
    text-align: center;
    font-family: 'Vcr';
    color: white;
    line-height: 130%;
    width: 60%;
    margin: 10px;
    font-size: 1.3em;
}

.green{
    color: var(--clr-active);
}

.bold{
    font-weight: bold;
}

#startBtn{
    margin: 10px;
    width: 200px;
    height: 70px;
    border: 0.125em solid var(--clr-active);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-active);
    font-family: 'Vcr';
    font-size: 3em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#startBtn:hover{
    background-color: var(--clr-active);
    color: var(--clr-bg);
    box-shadow: 0 0 2em 0.2em var(--clr-active);
}

.btnStartDisable{
    border: 0.125em solid rgb(61, 61, 61) !important;
    color: rgb(61, 61, 61) !important;
    cursor: default !important;
}

.btnStartDisable:hover{
    background-color: var(--clr-bg) !important;
    color: rgb(61, 61, 61) !important;
    box-shadow: none !important;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url('./bg2.webp');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.keyBoardError{
    margin-left: 10px !important;
    border: 0.125em solid var(--clr-red) !important;
    box-shadow: 0 0 2em 0.2em var(--clr-red) !important;
}

.touchError{
    border: 0.125em solid var(--clr-red) !important;
    background-color: var(--clr-red) !important;
    color: var(--clr-bg) !important;
}

#contVKey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#point{
    color: var(--clr-green);
    font-size: 3em;
    font-family: "Vcr";
    font-weight: bold;
    padding: 5px;
    background: radial-gradient(rgba(32, 32, 32, 0.5),rgba(0, 0, 0, 0));
    border-radius: 0.25em;
}

.bgAnim{
    animation: anime_bg 93s 0s ease;
	-webkit-animation: anime_bg 93s 0s ease;
}

#virtualKeyboard{
    border: 0.125em solid var(--clr-blue);
    color: var(--clr-blue);
    box-shadow: 0 0 2em 0.2em var(--clr-blue);
    background-color:rgba(32, 32, 32, 0.95);
    border-radius: 0.5em;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "3Dventure";
    color: var(--clr-not-active);
    font-size: 7em;
    z-index: 100;
    text-align: center;
}

.touch p{
    font-size: 3em;
    font-family: 'Vcr';
}

.touch{
    border: 0.125em solid var(--clr-blue);
    color: var(--clr-blue);
    border-radius: 0.25em;
    height: 80px;
    width: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    border: 0.125em solid var(--clr-active);
    border: 2px solid var(--clr-active);
    box-shadow: 0 0 2em 0.5em var(--clr-active);
    background-color: var(--clr-active);
    color: var(--clr-bg);
	animation: animate_active 0.1s 0s ease;
	-webkit-animation: animate_active 0.1s 0s ease;
}

.info{
    display: flex;
    width: 70%;
    margin-bottom: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:rgba(32, 32, 32, 0.8);
    border-radius: 0.5em;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.info p{
    font-family: "3Dventure";
    color: var(--clr-not-active);
    font-size: 2.5em;
    margin: 5px;
}

.retryBtn{
    margin: 10px;
    padding: 7px;
    height: 70px;
    border: 0.125em solid var(--clr-active);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-active);
    font-family: 'Vcr';
    font-size: 3em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.retryBtn:hover{
    background-color: var(--clr-active);
    color: var(--clr-bg);
    box-shadow: 0 0 2em 0.2em var(--clr-active);
}

@keyframes animate_active {
	0%{
        box-shadow: 0 0 0 0 var(--clr-active);
	}
	50%{
        box-shadow: 0 0 2em 5em var(--clr-active);
	}
	100%{
        box-shadow: 0 0 2em 0.5em var(--clr-active);
	}
}

@-webkit-keyframes animate_active {
	0%{
        box-shadow: 0 0 0 0 var(--clr-active);
	}
	50%{
        box-shadow: 0 0 2em 5em var(--clr-active);
	}
	100%{
        box-shadow: 0 0 2em 0.5em var(--clr-active);
	}
}


@keyframes anime_end_text {
	0%{
        font-size: 3em;
	}
	50%{
        font-size: 3.2em;
	}
	100%{
        font-size: 3em;
	}
}

@keyframes anime_bg {
	0%{
        background-size: 100%;
	}
	100%{
        background-size: 125%;
	}
}

@-webkit-keyframes anime_bg {
	0%{
        background-size: 100%;
	}
	100%{
        background-size: 125%;
	}
}


@-webkit-keyframes anime_end_text {
	0%{
        font-size: 3em;
	}
	50%{
        font-size: 3.2em;
	}
	100%{
        font-size: 3em;
	}
}

@keyframes anime_end_text_medium {
	0%{
        font-size: 1.8em;
	}
	50%{
        font-size: 2em;
	}
	100%{
        font-size: 1.8em;
	}
}

@-webkit-keyframes anime_end_text_medium {
	0%{
        font-size: 1.8em;
	}
	50%{
        font-size: 2em;
	}
	100%{
        font-size: 1.8em;
	}
}

@keyframes anime_end_text_small {
	0%{
        font-size: 0.9em;
	}
	50%{
        font-size: 1.1em;
	}
	100%{
        font-size: 0.9em;
	}
}

@-webkit-keyframes anime_end_text_small {
	0%{
        font-size: 0.9em;
	}
	50%{
        font-size: 1.1em;
	}
	100%{
        font-size: 0.9em;
	}
}


@media only screen and (max-width: 1000px) {
    .touch{
        height: 50px;
        width: 50px;
    }
    
    .touch p {
        font-size: 2em;
    }

    .info p {
        font-size: 1.7em;
    }

    h1{
        font-size: 5em;
    }

    #pseudo{
        font-size: 1.5em;
    }

    #startBtn{
        width: 150px;
        height: 50px;
        font-size: 1.7em;
    }

    .retryBtn{
        font-size: 1.7em;
    }

    #notStart .regle{
        width: 50%;
        font-size: 1.1em;
    }

    #point{
        font-size: 2em;
    }

    .end .msgScore {
        font-size: 1.7em;
        animation: anime_end_text_medium 1s 0s ease-in-out infinite;
        -webkit-animation: anime_end_text_medium 1s 0s ease-in-out infinite;
      }
}

@media only screen and (max-width: 600px) {
    .touch{
        height: 30px;
        width: 30px;
    }
    
    .touch p {
        font-size: 1.3em;
    }

    .info p {
        font-size: 1.4em;
    }

    h1{
        font-size: 3.5em;
    }

    #pseudo{
        font-size: 1em;
        width: 65%;
    }

    #startBtn {
        width: 100px;
        height: 40px;
        font-size: 1.3em;
    }

    .retryBtn{
        height: 40px;
        font-size: 1em;
    }

    #notStart .regle{
        width: 50%;
        font-size: 0.6em;
        align-self: end;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        text-align: end;
    }

    #notStart{
        padding-top: 30px;
    }

    #point{
        font-size: 2em;
    }

    .end .msgScore {
        font-size: 0.9em;
        animation: anime_end_text_small 1s 0s ease-in-out infinite;
        -webkit-animation: anime_end_text_small 1s 0s ease-in-out infinite;
      }
}